{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
          "modules": true
        }
      },
    "env": {
        "es6": true,
        "browser": false,
        "node": true
    },
    "rules": {
        "no-debugger": 0,
        "no-console": 0,
        "no-case-declarations": 0,
        "new-cap": 0,
        "strict": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "no-return-assign": 1,
        "consistent-return": 0,
        "eol-last": 0,
        "quotes": [2, "single"],
        "comma-dangle": [1, "always-multiline"],
        "no-mixed-operators": 0,
        "no-plusplus": 0,
        "indent": ["error", 4],
        "no-restricted-syntax": 0,
        "class-methods-use-this": 0,
        "react/jsx-indent": ["error", 4],
        "import/extensions": [".js", ".jsx"]
      }
}